html, body {
	padding: 0;
	margin: 0;
}
.header {
	background: rgb(140, 3, 3);
	margin-bottom: 10px;
}
.header a {
	color: #fff;
	text-decoration: none;
}

.header, .container, .footer {
	padding: 10px;
}